<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Partial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Partial.Properties.Settings>
            <setting name="PartialBeta_wslogger_Ws_Logger" serializeAs="String">
                <value>https://spreporting.app-garden.com/apps/wslogger/ws_logger.asmx</value>
            </setting>
            <setting name="PartialBeta_WSCustomer_GetCustomersPartialService"
                serializeAs="String">
                <value>http://spinstalls.app-garden.com:80/cciweb.nsf/GetPartialCustomers?OpenWebService</value>
            </setting>
            <setting name="PartialBeta_WSPartials_RemovePartialFlagsService"
                serializeAs="String">
                <value>http://spinstalls.app-garden.com:80/cciweb.nsf/RemovePartialFlags?OpenWebService</value>
            </setting>
        </Partial.Properties.Settings>
    </applicationSettings>
</configuration>