<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Partial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Partial.Properties.Settings>
            <setting name="Partial_WSCustomer_GetCustomersPartialService"
                serializeAs="String">
                <value>http://cci.cookconsulting.net:80/cciweb.nsf/GetPartialCustomers?OpenWebService</value>
            </setting>
            <setting name="Partial_WSPartials_RemovePartialFlagsService"
                serializeAs="String">
                <value>http://cci.cookconsulting.net:80/cciweb.nsf/RemovePartialFlags?OpenWebService</value>
            </setting>
            <setting name="Partial_wslogger_WS_Logger" serializeAs="String">
                <value>http://installs.ccisupportsite.com/ap/wsl/ws_logger.asmx</value>
            </setting>
        </Partial.Properties.Settings>
    </applicationSettings>
</configuration>